body{
    margin: 0%;
    padding:0%;
}
header{
    overflow: auto; 

}
header ul{
    float: right;
    padding-right: 2em;
    position:relative;
    width:20%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    padding-top:0.20em;
    padding-right: 0.9em;
  }
header li{
    list-style-type: none;
    list-style: none;
    display: inline;
    margin: 0.5em 0.1em;     
    
}
header li a{
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 0.8em;
    color:rgba(0,0,0,0.87);
    justify-content: center;
}
 
 .img_size{
    height: 1.6em;
    width: 1.6em;
    border-radius: 3em; 
    /* border: 2px solid yellow;  */
    
 } 

.img_size:hover{
    border-radius: 3em; 
    /* border: 2px solid gray; */
   
    opacity: 0.6;
    box-shadow: 0 0 5px 2px rgb(190, 189, 189);
    /* background-color: rgb(196, 195, 195); */
    
}

.img{
    /* border: 2px solid black;  */
    padding: auto auto;
    /* background-color:  rgb(196, 195, 195); */
} 

.sign_in{
    background-color: #1a73e8;
    border:1px solid transparent;
    border-radius: 0.30em;
    color: #fff;
    padding: 0.65em 1.5em;
    text-align: justify;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    
    font-size: 14px; 
    letter-spacing: 00.05em;
    line-height: 16px;
    /* font-size: 14px; */
}
.sign_in:hover{
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}
.section_txt{
 
}
#logo{
    /* border:2px solid purple; */
    position: relative;
    display: block;  
    margin: 1.5em auto;
    
}

.searchbar{
    border:1px solid rgb(212, 210, 210);
    width: 40%;
    display: block;
    border-radius: 2em;
    /* margin-top: 2em; */
    margin: 0em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    justify-content: center;
    align-content: center;
}   
.searchbar:hover
{
    border:none;
    box-shadow: 0.1em 0.1em 0.4em rgb(194, 194, 194);
    /* -0.05em -0.05em 0.05em rgb(192, 192, 192); */
    /* box-shadow:-2em -1em 0.2em rgb(192, 192, 192); */
}
.mg{
    position: relative;
    height: 1em;
    width:1em;
    padding: 0.7 0.7em;
    opacity: 0.4;
    margin-top: 0.9em;
    margin-left: 0.6em;
    /* border: 2px solid black; */
}
#search_str{
    position: relative;
    width:80%;
    padding:0.7em 0.7em;
    /* margin-left: 1em; */
    border: none;

    /* border: 2px solid black; */
}

.voice{
    /* border: 2px solid red; */
    padding: 0.7em 0.4em;
    height: 1.5em;
    width:1.5em;
    margin-left: 0.7em;
    /* float:right; */
    /* padding: 0.6em 0.1em; */
}

.buttons{
    margin: 0em 32.1em;
    display: inline-block;
    overflow: auto;
    align-items: center;
    /* border: 2px solid peru; */
    margin-top:0em ;
    outline: none;
}

.search_btn{
    display: inline;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 0.9em;
    margin:1.9em 1em;
    text-align: center;
    text-justify: auto;
    line-height: 2em;
    cursor: pointer;
    user-select: none;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

}
.search_btn:hover{
    /* border:0.2em solid rgb(185, 183, 183); */
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    /* border:2px solid yellow; */
    color: #202124;
}

.languages{
    /* border:2px solid red; */
    display: inline;
    position: relative;
    /* padding-top:1em; */
    padding:1em 1em;
    margin:0em 23em;
    /* align-content: center; */
    font-size: 1em;
    /* padding:0em auto; */
    overflow: auto;
    /* padding-bottom: 10em; */
}
div a{
    margin:0.2em 0.2em;
}



/* .footer_menu{
    color: #70757a;
} */